# Node
node_modules/
.env
dist/
build/
*.log

# VSCode
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# React
client/build/
client/node_modules/

# Backend
server/node_modules/
server/.env

# Misc
*.iml
*.swp
*.swo